<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Categoría</title>
    <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="../js/categorias.js" defer></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/categorias.css">

</head>

<body>
    <header>
        <h1>Jerez de la Frontera<i class="fa-solid fa-heart icon"></i></h1>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-regular fa-font-awesome icon"></i>Inicio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Categorías</h1>
        <ul id="categorias">
            <li>
                <a class="cat-link" href="detalle1.html">
                    <div class="link-img" id="historia-card">
                        <p id="historia-title">Historia</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="cat-link" href="detalle2.html">
                    <div class="link-img" id="circuito-card">
                        <p id="historia-title">Circuito</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="cat-link" href="detalle3.html">
                    <div class="link-img" id="bodega-card">
                        <p id="historia-title">Bodegas</p>
                    </div>
                </a>
            </li>
        </ul>
    </main>
</body>

</html>